In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pop_df = pd.read_csv('등록인구추이_20230223163326.csv', encoding = 'cp949')
pop_df.drop(0, axis=0, inplace=True)
pop_df.columns = ['시점', '세대수', '인구_남', '인구_여', '한국인', '외국인', '인구밀도']
print(pop_df.head())

     시점      세대수     인구_남     인구_여      한국인    외국인    인구밀도
1  2018  1480468  1721327  1772692  3441453  52566  769.94
2  2019  1497908  1704098  1762465  3413841  52722  770.07
3  2020  1530431  1686412  1752298  3391946  46764  770.07

In [20]:
print()
print(pop_df)

     시점      세대수     인구_남     인구_여      한국인    외국인    인구밀도
1  2018  1480468  1721327  1772692  3441453  52566  769.94
2  2019  1497908  1704098  1762465  3413841  52722  770.07
3  2020  1530431  1686412  1752298  3391946  46764  770.07

### 년도별
    - 남/여 인구비율 - 인구_남, 인구_여 colunm 다음에 위치
    - 한국인 / 외국인 비율 - 인구밀도 앞에 위치

In [22]:
# pop_df['인구_남']
# pop_df.loc[:, '인구_남']
# pop_df.iloc[:, 2]
v = pop_df['인구_남'].astype(np.float64) / pop_df['인구_여'].astype(np.float64)
pop_df.insert(5, '인구_남/여', v)
pop_df

     시점      세대수     인구_남     인구_여      한국인    인구_남/여    외국인    인구밀도
1  2018  1480468  1721327  1772692  3441453  0.971024  52566  769.94
2  2019  1497908  1704098  1762465  3413841  0.966883  52722  770.07
3  2020  1530431  1686412  1752298  3391946  0.962400  46764  770.07

In [24]:
pop_df['한국인'].astype(np.float64) / pop_df['외국인'].astype(np.float64)
pop_df.insert(7, '한국인/외국인', v)
pop_df

     시점      세대수     인구_남     인구_여      한국인    인구_남/여    외국인   한국인/외국인    인구밀도
1  2018  1480468  1721327  1772692  3441453  0.971024  52566  0.971024  769.94
2  2019  1497908  1704098  1762465  3413841  0.966883  52722  0.966883  770.07
3  2020  1530431  1686412  1752298  3391946  0.962400  46764  0.962400  770.07

In [25]:
pop_df.dtypes
pop_df.astype(np.float64)

,시점,세대수,인구_남,인구_여,한국인,인구_남/여,외국인,한국인/외국인,인구밀도
1,2018.0,1480468.0,1721327.0,1772692.0,3441453.0,0.971024,52566.0,0.971024,769.94
2,2019.0,1497908.0,1704098.0,1762465.0,3413841.0,0.966883,52722.0,0.966883,770.07
3,2020.0,1530431.0,1686412.0,1752298.0,3391946.0,0.962400,46764.0,0.962400,770.07

In [26]:
pop_np = pop_df.to_numpy().astype(np.float64)
print(pop_np[:, 2] / pop_np[:, 3])
print(pop_np[:, 4] / pop_np[:, 5])

[0.9710243  0.96688331 0.96240023]
[3544147.16173975 3530768.34669426 3524465.07253743]