In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd_data = pd.read_csv('내국인출국교통수단별_20230302171427.csv', encoding='cp949', header=1)
pd_data.columns = ['시점', '공항', '항구']
pd_data.head()

# 공항, 항구 년중 월별 출국 인원 plot
# normalization / standardzation 적용, plot

# 2015부터 2022년까지 추이 보기
# - 2022년 연말 공항 이용객 증가하였음
# - 2022년 연말에 출국 인원이 늘어난 것이 항국 출국인원에도 반영되었는가.
# - 연말에 출국인원이 증가하는 것이 일반적인 추이인가 --> 코로나 이전/이후 연도별 추이

# .sort_values()
# .sort_index()

        시점      공항     항구
0  2015.01  226687  50545
1  2015.02  173950  44152
2  2015.03  175351  36822
3  2015.04  195851  46589
4  2015.05  199356  54680

In [3]:
pd_data.dtypes

yr = pd_data // 1
mr = (pd_data['시점'] % 1 ) * 100

str_time = pd_data['시점'].astype('str')
yr = str_time.apply(lambda x: x.split('.')[0])
mo = str_time.apply(lambda x: x.split('.')[1])

print(pd_data['시점'])
dt_time = pd.to_datetime(pd_data['시점'], format="%Y/%m")
# dt_time = pd.to_datetime(pd_data['시점'], yearfirst=True)
print(dt_time)

                              시점      공항     항구
0  1970-01-01 00:00:00.000002015  226687  50545
1  1970-01-01 00:00:00.000002015  173950  44152
2  1970-01-01 00:00:00.000002015  175351  36822
3  1970-01-01 00:00:00.000002015  195851  46589
4  1970-01-01 00:00:00.000002015  199356  54680
..                           ...     ...    ...
91 1970-01-01 00:00:00.000002022   47261   3533
92 1970-01-01 00:00:00.000002022   37030   2682
93 1970-01-01 00:00:00.000002022   71579   3494
94 1970-01-01 00:00:00.000002022  126419   3687
95 1970-01-01 00:00:00.000002022  192723   5760

[96 rows x 3 columns]